#demo-settings.open {
    right: -10px;
    opacity: .9;
}

#demo-settings {
    position: fixed;
    right: -338px;
    width: 338px;
    top: 12%;
    padding-right: 10px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    -moz-user-select: none;
    z-index: 2;
}

#demo-settings.open #demo-settings-toggler {
    font-size: 14px;
    color:#A7A7A7;
}
#demo-settings-toggler {
    font-size: 21px;
    width: 40px;
    height: 37px;
    position: absolute;
    left: -40px;
    top: 11px;
    display: inline-block;
    line-height: 37px;
    text-align: center;
    background-color: #F5F5F5;
    color: #777;
    border-bottom: 1px solid #DDD;
    box-shadow: 0px 1px 0px #FFF inset;
    text-decoration: none;
}


#demo-settings.open #demo-settings-toggler:before {
    content: "";
}
